*{
    padding:0;
    margin:0;
}
.all_element{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-direction: column;
}
.input_element{
    width:100%;
    display:flex;
    column-gap: 20px;
    justify-content: center;
}
.input_element input{
    width:30%;
    height:25px;
    padding:10px;
    border:2px solid rgb(206, 206, 95);
    outline: none;
    border-radius: 4px;
    font-size: 20px;
}
.curent_el{
    width:65%;
    margin-top: 15px;
    height:50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #f7efef;
    padding:6px;
}
.curent_el h2{
    font-size: 20px;
    font-weight: 300;
}
.all_classes{
    width:65%;
    margin-top: 15px;
    padding:13px;
    
    background-color: #f7efef;
}
.all_classes h2{
    font-size: 20px;
    font-weight: 300;
}
.crete_clases{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    gap: 15px 15px;
    flex-wrap:wrap;
}

.show_titel{
    display:none;
}
.height{
    margin-top: 10px;
    text-align: center;
}
.element{
    width:120px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    background-color: #ff5722;
    border-radius: 4px;
    color:white;
    font-size: 23px;
}